@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Schwifty';
  src: url(./fonts/get_schwifty.ttf) format('truetype');
}

:root {
  --primary-color: #8BCF21;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Orbitron;
  margin: 0;
  background-color: #01041F;
  color: var(--primary-color);
  letter-spacing: 0.025em;
}

h1 {
  margin: 0;
}

#root {
  height: 94%;
  padding: 16px;
}