@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Schwifty';
  src: url(./fonts/get_schwifty.ttf) format('truetype');
}

:root {
  --primary-color: #8BCF21;
  --secondary-color: #21cf67;
  --background-color: #01041f;
  --primary-color-shade: #37540a;
  --placeholder-color: rgba(139, 207, 33, 0.7);
  --title-blue-color: #83d2e4;
  --scrollbar-foreground: #8BCF21;
  --scrollbar-background: #343030;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Orbitron;
  margin: 0;
  background-color: #01041F;
  color: var(--primary-color);
  letter-spacing: 0.025em;
  scrollbar-width: thin;
}

h1 {
  margin: 0;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: var(--scrollbar-foreground);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}